@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Thin.ttf");
    font-weight: 100;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: Roboto;
    src: url("./assets/fonts/Roboto-Black.ttf");
    font-weight: 900;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav .nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav .nav-list .nav-link {
    font-weight: 300;
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    font-size: medium;
    transition: color 0.5s;
}

.nav .nav-list .nav-link:hover {
    text-decoration: underline;
    color: blue;
}

.main .main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

#profile span {
    font-weight: 700;
}

#contacts span {
    font-weight: 700;
}

#education span {
    font-weight: 700;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

#contacts .link {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

#contacts .link:hover {
    text-decoration: underline;
    color: blue;
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}