@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Urbanist, sans-serif;
    font-size: 16px;
    font-weight: 400;
    /* min-height: 100vh; */
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    height: 40px;
    border-bottom: 2px solid #937131;
}

.nav .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav .nav-list .nav-link {
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: medium;
    transition: color 0.5s;
}

.nav .nav-list .nav-link:hover {
    text-decoration: underline;
    color: #937131;
}

/* .main .main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
} */

#profile {
    display: flex;
}

#profile .avatar {
    width: 230px;
}

#profile .job {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1cm;
    margin: 4px 0 0 20px;
    text-transform: uppercase;
    color: #937131;
}

#contacts span {
    font-weight: 700;
}

#education span {
    font-weight: 700;
}

.section-title {
    margin: 11px 0 0 20px;
    font-weight: 700;
    font-size: 56px;
}

.section-subtitle {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.link:hover {
    text-decoration: underline;
    color: blue;
}

.footer .github-icon {
    width: 35px;
}

.footer .rsschool-icon {
    width: 80px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
}


/* .main {
    border: 1px solid red;
} */

.footer {
    border-top: 2px solid #937131;
}