@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-SemiBold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: Urbanist;
    src: url("./assets/fonts/Urbanist-Bold.ttf");
    font-weight: 700;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Urbanist, sans-serif;
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-between; */
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.header {
    height: 40px;
    border-bottom: 2px solid #937131;
}

.nav .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.nav .nav-list .nav-link {
    font-weight: 400;
    text-decoration: none;
    color: black;
    font-size: medium;
    transition: color 0.5s;
}

.nav .nav-list .nav-link:hover {
    text-decoration: underline;
    color: #937131;
}

.main .main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 24px;
}

/* .section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
} */

#profile {
    display: flex;
}

#profile .my-flex-image {
    display: flex;
    align-items: center;
    width: calc(50% - 90px);
    height: 300px;
    /* flex-wrap: wrap; */
}

#profile .my-flex-image .avatar {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* object-fit: contain; */
}

#profile .job {
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.1cm;
    /* margin: 4px 0 0 20px; */
    margin: 0;
    text-transform: uppercase;
    color: #937131;
}

.section-title {
    /* margin: 11px 0 0 20px; */
    margin: 0;
    /* margin-bottom: 10px; */
    font-weight: 700;
    font-size: 56px;
}

#profile .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    /* align-items: center; */
}

#profile .profile-info .profile-descr p {
    margin-bottom: 0;
}

.section-subtitle {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    color: #937131;
    letter-spacing: 0.1cm;
    text-transform: uppercase;
}

.link {
    text-decoration: none;
    color: black;
    transition: color 0.5s;
}

.link:hover {
    text-decoration: underline;
    color: blue;
}

/* #summary {
    margin-top: 20px;
    background-color: #DDB376;
} */

.left-part {
    width: 20%;
}

.right-part {
    width: 79%
}

#education {
    margin-top: 20px;
    padding: 16px 10px;
    color: #534C40;
    background-color: #F7F3D7;
}

#education ul {
    list-style: none;
    padding: 0;
}

#education .education-sublist-item {
    padding-top: 10px
}

#education span {
    font-weight: 600;
    color: #534C40
}

#skills {
    margin-top: 20px;
    /* width: 78%; */
    /* height: 10%; */
    background-color: #F7F6F0;
    margin-left: 20px;
}

#skills .skills-list {
    display: flex;
    justify-content:space-around;
    list-style: none;
}

.languages-list {
    display: flex;
    justify-content:space-around;
    list-style: none;
}

#contacts {
    margin-top: 20px;
    background-color: #F7F1EB;
    padding: 10px 16px;
}

#code {
    margin-left: 20px;
    background-color: #F2F5F7;
    padding: 10px 16px 20px 16px;
}

.footer .github-icon {
    width: 35px;
}

.footer .rsschool-icon {
    width: 80px;
}

.footer .container {
    display: flex;
    justify-content: space-around;
}


/* .main {
    border: 1px solid red;
} */

.footer {
    height: 40px;
    border-top: 2px solid #937131;
}